# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
# Recommended for most uses
# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgres://neondb_owner:npg_Erx4Q7Olousq@ep-dark-river-ab57dmzp-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL_NON_POOLING=postgres://neondb_owner:npg_Erx4Q7Olousq@ep-dark-river-ab57dmzp.eu-west-2.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-dark-river-ab57dmzp-pooler.eu-west-2.aws.neon.tech
POSTGRES_PASSWORD=npg_Erx4Q7Olousq
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgres://neondb_owner:npg_Erx4Q7Olousq@ep-dark-river-ab57dmzp-pooler.eu-west-2.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgres://neondb_owner:npg_Erx4Q7Olousq@ep-dark-river-ab57dmzp-pooler.eu-west-2.aws.neon.tech/neondb?connect_timeout=15&sslmode=require
# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
